<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--음식점 입구의 메뉴판/사용 설명서-->
<!--    손님(안드로이드 시스템)이 제일 먼저 보는 것-->
<!--   식당 이용 안내 (권한)-->
<!--   대표 메뉴 (시작 화면) -->
<!--    식당 간판 (앱의 외관) (앱 이름, 아이콘)-->

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstWeatherApp"
        tools:targetApi="31">
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <!-- launcher activity로 지정하기 위한 intent-filter 추가 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>